$logo-size: 135px;
$logo-color: #F47521;

.horizontal-logo {
    font-size: $logo-size;
    height: auto;
    width: $logo-size ;
    color: $logo-color;
    cursor: pointer;
}

.horizontal-logo:hover {
    color: white;
}

.login-button {
    background-color: black;
}

.login-button:hover {
    background-color: rgb(14, 14, 14);
}