<div dropdown (onShown)="menuDropdownHandler('onShown')" (onHidden)="menuDropdownHandler('onHidden')"
    class="w-full h-full" [insideClick]="true">
    <div dropdownToggle [ngClass]="{'bg-zinc-900' : menuDropdownShowing}"
        class="h-full flex items-center justify-center py-2 px-[1.25rem] hover:bg-zinc-900 transition-colors hover:cursor-pointer button">
        <mat-icon class="text-zinc-300 scale-[1.20] transition-colors">menu</mat-icon>
    </div>
    <ul *dropdownMenu class="dropdown-menu main-dropdown" role="menu" aria-labelledby="button-basic">
        <h1 class="text-xs font-[550] text-gray-500 pl-4 mb-2">BROWSE</h1>
        <li role="menuitem"><a class="dropdown-item" routerLink="/videos/alphabetical">Alphabetical</a></li>
        <li role="menuitem" dropdown triggers="mouseclick" placement="right" container="body"
            class="hover:cursor-pointer">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Genres
                <mat-icon class="ml-2">expand_more</mat-icon></a>
            <ul *dropdownMenu class="dropdown-menu h-[700px] overflow-hidden" role="menu">
                <li role="menuitem" *ngFor="let game of games"><a class="dropdown-item"
                        routerLink="{{'/videos/' + (game | lowercase)}}">{{game}}</a>
                </li>
            </ul>
        </li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/music">Music Videos & Concerts</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/videos/new">New</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/videos/popular">Popular</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/simulcastcalendar">Release Calendar</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/simulcasts">Simulcast Season</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/games">Games</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/comics/manga">Manga</a></li>
        <li role="menuitem" dropdown triggers="mouseclick" placement="right" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">News
                <mat-icon class="ml-2">expand_more</mat-icon></a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item ">All News</a>
                </li>
                <li role="menuitem"><a class="dropdown-item">Anime
                        Awards</a></li>
                <li role="menuitem"><a class="dropdown-item">Crunchyroll
                        Expo</a></li>
                <li role="menuitem"><a class="dropdown-item">Anime Movie
                        Night</a></li>
            </ul>
        </li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/store">Store</a></li>

    </ul>
</div>