$logo-size: 135px;
$logo-color: #F47521;

.horizontal-logo {
    font-size: $logo-size;
    height: auto;
    width: $logo-size ;
    color: $logo-color;

}

:hover.button mat-icon {
    color: white;
}

