<div dropdown (onShown)="menuDropdownHandler('onShown')" (onHidden)="menuDropdownHandler('onHidden')"
container="body" [dropup]="dropup">
<div dropdownToggle [ngClass]="{'bg-zinc-800' : menuDropdownShowing}"
    class="h-full flex items-center justify-center p-[0.75rem] hover:bg-zinc-800 transition-colors hover:cursor-pointer button">
    <mat-icon class="text-zinc-300 transition-colors mr-1">{{icon}}</mat-icon>
    <span class="text-zinc-400 font-medium transition-colors"
        [ngClass]="{'text-white' : menuDropdownShowing}">{{options[selectedOption] | uppercase}}</span>
</div>
<ul *dropdownMenu class="dropdown-menu main-dropdown" role="menu">
    <ng-container *ngFor="let option of options; let i = index">
        <li role="menuitem" class=" transition-colors">
            <a class="dropdown-item py-[10px] text-sm" (click)="changeSelectedOption(i)">
                {{options[i]}}
            </a>
        </li>
    </ng-container>
</ul>
</div>
