<main class="w-full relative">
    <cr-translucent-header class="w-full absolute"></cr-translucent-header>
    <section class="w-full flex justify-center">
        <div
            class="max-w-[90rem] w-full flex flex-col md:bg-premium-background-desktop sm:bg-premium-background-tablet bg-premium-background-mobile bg-cover sm:bg-contain md:bg-cover bg-no-repeat min-h-[700px] pt-[25%] md:pt-40">
            <div class="flex flex-col items-center md:items-start w-full md:px-[10%] px-[5%]">
                <h1
                    class="text-white font-bold text-2xl sm:text-3xl md:text-4xl max-w-[550px] w-full md:leading-[50px] text-center premium-background-text">
                    Upgrade
                    Your
                    Anime Experience with
                    Premium</h1>
                <cr-premium-button [showCrown]="true"
                    [label]="loggedIn ? loggedInPremiumButtonLabel : loggedOutPremiumButtonLabel" class="my-4"
                    (click)="upgradeToPremium()"></cr-premium-button>
                <p class="text-white text-xs max-w-[400px] text-center premium-background-text">{{loggedIn ?
                    loggedInPremiumDesc : loggedOutPremiumDesc}}</p>
                <a class="flex items-center compare-redirect mt-3 cursor-pointer" (click)="scrollToPlans()">
                    <span class="text-crunchyroll-orange font-semibold transition-colors mr-1 text-sm">COMPARE ALL
                        PLANS</span>
                    <mat-icon class="transition-colors text-crunchyroll-orange">arrow_downward</mat-icon>
                </a>
            </div>
        </div>
    </section>
    <section class="w-full flex flex-col items-center -mt-40">
        <h1 class="text-center text-white text-6xl font-bold">Be the First to Watch</h1>
        <h2 class="text-white text-lg w-[500px] text-center mt-3">Stream full seasons of the top anime, simulcasts, Crunchyroll Originals, and more!</h2>
        <carousel class="w-full max-w-[80%]">

        </carousel>
    </section>
</main>
<cr-error-alert *ngIf="showError" [errorMessage]="errorMessage" (onClosed)="closeAlert()"></cr-error-alert>