<ng-container class="flex flex-col" [ngSwitch]="screenWidth <= thresholdWidth">
    <h1 class="text-white mb-3 text-xl">More Like This</h1>
    <carousel *ngSwitchCase="false" class="w-full show-group-carousel" [itemsPerSlide]="5" [showIndicators]="true"
        [noWrap]="true" [interval]="0" [singleSlideOffset]="true" [isAnimated]="true">
        <slide *ngFor="let show of shows" class="pr-5 slide" (click)="goToUrl('/series/' + show.showId)">
            <img [src]="show.imageUrls.covers.portrait">
            <div class="pr-2 heading-container">
                <h1 class="text-white text-sm mt-2">
                    {{show.title}}
                </h1>
                <h2 class="text-zinc-400 text-sm mt-2">
                    {{getShowDescriptor()}}
                </h2>
            </div>
            <div
                class="carousel-caption bg-zinc-900 transition-opacity bg-opacity-95 flex flex-col justify-between p-3 cursor-pointer text-sm text-left">
                <div>
                    <h1 class="text-white">
                        {{show.title}}
                    </h1>
                    <div class="flex text-zinc-500 items-center my-2">
                        <span>{{calculateShowRating().toFixed(1)}}</span>
                        <mat-icon class="star-icon mx-1">star</mat-icon>
                        <span>{{'(' + (show.reviews ? show.reviews.length : '0') + ')'}}</span>
                    </div>
                    <p class="text-white line-clamp-6">{{show.description}}</p>
                </div>
                <nav class="flex buttons text-crunchyroll-orange items-center">
                    <mat-icon tooltip="Watch Now" container="body">play_arrow</mat-icon>
                    <mat-icon class="mx-2" tooltip="Add to Watchlist" container="body">bookmark</mat-icon>
                    <mat-icon tooltip="Add to Crunchylist" container="body">add</mat-icon>
                </nav>
            </div>
        </slide>
    </carousel>
    <carousel *ngSwitchCase="true" class="w-full show-group-carousel" [itemsPerSlide]="3" [showIndicators]="false"
        [noWrap]="true" [interval]="0" [singleSlideOffset]="true" [isAnimated]="true">
        <slide *ngFor="let show of shows" class="pr-5 slide" (click)="goToUrl('/series/' + show.showId)">
            <img [src]="show.imageUrls.covers.portrait">
            <div class="pr-2 heading-container">
                <h1 class="text-white text-sm mt-2">
                    {{show.title}}
                </h1>
                <h2 class="text-zinc-400 text-sm mt-2">
                    {{getShowDescriptor()}}
                </h2>
            </div>
            <div
                class="carousel-caption bg-zinc-900 transition-opacity bg-opacity-95 flex flex-col justify-between p-3 cursor-pointer text-sm text-left">
                <div>
                    <h1 class="text-white">
                        {{show.title}}
                    </h1>
                    <div class="flex text-zinc-500 items-center my-2">
                        <span>{{calculateShowRating()}}</span>
                        <mat-icon class="star-icon mx-1">star</mat-icon>
                        <span>{{'(' + (show.reviews ? show.reviews.length : '0') + ')'}}</span>
                    </div>
                    <p class="text-white line-clamp-6">{{show.description}}</p>
                </div>
                <nav class="flex buttons text-crunchyroll-orange items-center">
                    <mat-icon tooltip="Watch Now" container="body">play_arrow</mat-icon>
                    <mat-icon class="mx-2" tooltip="Add to Watchlist" container="body">bookmark</mat-icon>
                    <mat-icon tooltip="Add to Crunchylist" container="body">add</mat-icon>
                </nav>
            </div>
        </slide>
    </carousel>
</ng-container>