<div dropdown (onShown)="menuDropdownHandler('onShown')" (onHidden)="menuDropdownHandler('onHidden')"
    class="w-full h-full" [insideClick]="true" container="body" placement="bottom right">
    <div dropdownToggle [ngClass]="{'bg-zinc-900' : menuDropdownShowing}"
        class="h-full flex items-center justify-center py-2 px-[1.25rem] hover:bg-zinc-900 transition-colors hover:cursor-pointer button">
        <img src="/assets/images/avatar.jpeg" width="35" height="35" class="avatar" alt="profile picture" />
        <mat-icon class="text-zinc-300 transition-colors ml-2">arrow_drop_down</mat-icon>
    </div>
    <ul *dropdownMenu class="dropdown-menu main-dropdown dropdown-menu-right" role="menu"
        aria-labelledby="button-basic">
        <div class="div flex flex-row justify-start items-center ml-4">
            <img src="/assets/images/avatar.jpeg" width="50" height="50" class="avatar mr-4" alt="profile picture"
                loading="lazy" />
            <span class="text-white text-xl">Goku</span>
        </div>
        <li role="menuitem" class="mx-3 mt-3">
            <a routerLink="/plans">
                <div class="w-full h-full flex flex-row items-center justify-center button-container py-2">
                    <mat-icon [svgIcon]="'cr-crown'" class="crown mr-2"></mat-icon>
                    <span class="text-black font-medium text-[0.9rem]">GO PREMIUM</span>
                </div>
            </a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center " routerLink="/watchlist">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">bookmark_border</mat-icon>
                <span class="text-white font-light">Watchlist</span>
            </a>
        </li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center " routerLink="/crunchylists">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">format_list_bulleted</mat-icon>
                <span class="text-white font-light">Cruncylists</span>
            </a>
        </li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center " routerLink="/history">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">history</mat-icon>
                <span class="text-white font-light">History</span>
            </a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center " routerLink="/notifications">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">bookmark_border</mat-icon>
                <span class="text-white font-light">Notifications</span>
            </a>
        </li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center" routerLink="/account">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">perm_identity</mat-icon>
                <div>
                    <span class="block text-white font-light">My account</span>
                    <span class="text-gray-400 text-sm">Manage your profile and settings.</span>
                </div>
            </a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
            <a class="dropdown-item pl-5 py-3 flex flex-row justify-start items-center" (click)="handleLogOut()">
                <mat-icon class="text-zinc-300 scale-[1.10] transition-colors mr-4">logout</mat-icon>
                <span class="text-white font-light">Log Out</span>
            </a>
        </li>
    </ul>

    <ng-container *ngIf="error">
        <alert type="danger" [dismissible]="true" (onClosed)="handleAlertClose()" class="fixed bottom-0">
            <strong>Oh snap!</strong> Something went wrong...
        </alert>
    </ng-container>
</div>