<main class="w-full h-full flex flex-col justify-between items-center">
    <cr-header class="w-full"></cr-header>
    <form #loginForm="ngForm" (ngSubmit)="login()"
        class="flex flex-col justify-center items-center max-w-lg w-full md:px-0 px-3 relative">
        <img src="/assets/images/log-in-yuzu.png" class="absolute bottom-[-6rem] right-[-9rem] hidden md:block"
            draggable="false">
        <img src="/assets/images/log-in-hime.png" class="absolute top-[1rem] left-[-8rem] hidden md:block"
            draggable="false">
        <h1 class="text-white md:text-3xl text-2xl mb-4">Log In</h1>
        <section class="bg-zinc-900 flex flex-col p-12 justify-center items-center w-full">
            <mat-form-field class="w-full " [hideRequiredMarker]="true">
                <mat-label [ngClass]="{'text-white': !email.errors || email.pristine}">Email Address</mat-label>
                <input #email="ngModel" matInput type="email" name="email" [(ngModel)]="formData.email" required>
            </mat-form-field>
            <mat-form-field class="w-full" [hideRequiredMarker]="true">
                <mat-label [ngClass]="{ 'text-white': !password.errors || password.pristine}">Password</mat-label>
                <input #password="ngModel" matInput [type]="showPassword ? 'text' : 'password'" name="password"
                    [(ngModel)]="formData.password" required>
                <span *ngIf="!showPassword" (click)="toggleShowPassword()"
                    class="text-zinc-400 cursor-pointer transition-colors hover:text-white text-sm font-medium"
                    matTextSuffix>SHOW</span>
                <span *ngIf="showPassword" (click)="toggleShowPassword()"
                    class="text-zinc-400 cursor-pointer transition-colors hover:text-white text-sm font-medium"
                    matTextSuffix>HIDE</span>
            </mat-form-field>
            <a class="text-white self-start text-xs font-medium mt-[-20px] cursor-pointer">FORGOT PASSWORD?</a>
        </section>
        <ng-container [ngSwitch]="loading">
            <cr-button label="LOG IN" [disabled]="loginForm.invalid ?? true" *ngSwitchCase="false"
                backgroundColor="#F47521" labelColor="#000" buttonStyle="fill"
                class="mt-3 w-full md:w-36"></cr-button>
            <mat-progress-spinner *ngSwitchCase="true" mode="indeterminate" diameter="40" strokeWidth="5"
                class="mt-3" />
        </ng-container>

        <span class="text-white text-sm mt-3">No account? <a routerLink="/auth/register"
                class="text-crunchyroll-orange font-semibold transition-colors hover:text-white ml-1">CREATE
                ONE</a></span>
    </form>
    <cr-footer [showNav]="true" class="w-full"></cr-footer>
</main>

<cr-error-alert [showing]="showError" [errorMessage]="errorMessage"></cr-error-alert>