<div [ngClass]="{'bg-red-400 border-red-700' : !success, 'bg-green-400 border-green-700' : success}"
    class="fixed bottom-2 left-[38%] right-[38%] flex justify-between items-center py-2 px-3 overflow-hidden border-[1px] animate-fade">
    <span [ngClass]="{'text-red-700' : !success, 'text-green-700' : success}"
        class="text-ellipsis max-w-[80%] overflow-hiddenfont-medium"> {{errorMessage}}</span>
    <mat-icon [ngClass]="{'text-red-700' : !success, 'text-green-700' : success}"
        class="transition-colors cursor-pointer hover:text-black" (click)="onClose()">close</mat-icon>
</div>